*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/.gradle
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
proguard/
# Log Files
*.log
.navigation/
captures/
/app/build
/library/build
